@page "/"


<div class="row">
    <div class="col-sm-12">
        <div class="border border-5 p-4">
            <h1 class="text-center">Description of the Prophet Muhammad ﷺ </h1>
            <h2 class="text-center">Excerpts From the Diwaan of Shakhul Islam Al-Hajj Ibrahim Niass</h2>

            <p class="h3 text-center mt-3">Special appreciation goes to Khalifah Awwal Baba Taofiq's family for granting us the permission to use his translation.  🙏 </p>
        </div>
    </div>

</div>


@code {

}
